.feedback {
  padding: 4rem 5rem;
  position: relative;
}

.people__feedback {
  width: 70%;
  margin: 0rem auto;
}
@media only screen and (max-width: 56.25em) {
  .people__feedback {
    width: 85%;
  }
}
